#!/usr/bin/env xdg-open
[Desktop Entry]
Version=3.0.8
Type=Application
Terminal=false
Exec=/usr/local/bin/nix
Name=Nix
Comment=Wallet
Icon=/usr/share/icons/hicolor/256x256/crypto/nix.png